.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.staffInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail{
    display:grid;   
}



.seperator{
    width: 100%;
    border: 0.5px solid #ccc;
}


.uploadDetails{
    width: 60%

}

.uploadNote{
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 20px 0;

}


.inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;


}

.form button{
    width:60%;
    padding: 10px 0px;
    cursor: pointer;
   
    
}

.imagePreview {
    margin-top: 10px;
    /* display: flex; */
  }
  
  .imagePreview img {
    max-width: 150px;
    max-height: 150px;
  }
  
  .deleteButton {
    margin-top: 5px;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  