.container{
    background: url('../Assets/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.buttons{
    color:  white;
    width: 40%;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 0;
    height: 30%;
    display: flex;
    padding: 10px;
    display: flex;
    gap: 10px;

}


.button {
    border: 1px solid white;
    width: 60%;
}


.button:hover{
    background-color: grey;
    

}